{% extends 'base.html' %}
{% load static %}
{% block statics %}
<script src="{% static 'js/ms.js' %}" defer type="text/javascript"></script>
{% endblock statics %}

{% block content %}
<div class="title">Mérési adatok</div>
<div class="container">
<div class="controll">
    <form action="" id="search">
    <select name="Miben" id="where">
        {% for item in data %}
            <option value="{{item.name}}">{{item.val}}</option>
        {% endfor %}
    </select>
    <div id="search_box">
    </div>
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div id="ordered"></div>
</div>
<table id="table"></table>
</div>




    <!-- <div id="Table" class="table">
        <div class="f-row row">
            <div class="column">Mérési azonosító</div>
            <div class="column">Mérés Dátuma</div>
            <div class="column">Státusz</div>
        </div>
        <div id="data" class="tdata">

        </div>
        <!-- {% for item in data %}
        <hr class="table-line"/>
        <div class="data">
            <div class="row item" item-id="{{item.ID}}">
                <div class="column">{{item.ID}}</div>
                <div class="column">{{item.date}}</div>
                <div class="column {{item.state}}">{{item.active}}</div>
            </div>
            <div class="non-visible detail" id="{{item.ID}}"></div>
        </div>
        {% endfor %}
    </div> -->

{% endblock content %}